<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
<!-- 로고 -->
        <div id ="logo_div" class="logo">
            <img id="logo_img" src="../static/logo3.png" class="img-fluid">
        </div>

<!-- 아이디, 비밀번호 입력란, 로그인 버튼 -->
        <form action="{% url 'common:login' %}" method="POST">
            {% csrf_token %}
            <div id="id_div" class="input-group mb-3">
                <span id="id_span" class="input-group-text">아이디</span>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div id="password_div" class="input-group mb-3">
                <span class="input-group-text">비밀번호</span>
                <input type="password"  name="password" class="form-control" placeholder="password">
            </div>
            <div id="login_div">
                <button id="login_button"type="submit" class="btn btn-secondary btn-lg">로그인</button>
            </div>
        </form>

<!-- 회원가입 버튼 -->
        <div id="signup_div">
            <a href="{% url 'common:signup' %}">
                <button id="signup_button" type="submit" class="btn btn-secondary btn-lg">회원가입</button>
            </a>
        </div>

<!-- 푸터 -->
        <div id="footer_div">
        <hr>
        <div id="footer_font">
            <B style = "font-size:16px">CONTACT US&nbsp;&nbsp;&nbsp;</B>
            <i class="bi bi-instagram"></i> Ande  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-telephone-fill"></i> 02-571-0801 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-house-door-fill"></i> autislider@site.com
        </div>
    <br>
    <p id="footer_Copyright">Copyright ⓒ2023 Ande.&nbsp;All Rights Reserved.</p>
        </div>
        {% endblock %}
</body>
</html>