<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
    <body>
        {% extends 'base.html' %}
        {% block content %}
<!-- 로고 -->
        <div id ="logo_div" class="logo">
            <img id="logo_img" src="../../static/logo3.png" class="img-fluid">
        </div>

<!-- 아이디, 비밀번호 입력란, 로그인 버튼 -->
        <form action="{% url 'common:login' %}" method="POST">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div id="id_div" class="input-group mb-3">
                <span id="id_span" class="input-group-text">아이디</span>
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div id="password_div" class="input-group mb-3">
                <span class="input-group-text">비밀번호</span>
                <input type="password"  name="password" class="form-control" placeholder="password">
            </div>
            <div id="login_div">
                <button id="login_button"type="submit" class="btn btn-secondary btn-lg">로그인</button>
            </div>
        </form>

<!-- 회원가입 버튼 -->
        {% if user.is_authenticated %}
        {% else %}
        <div id="signup_div">
            <a href="{% url 'common:signup' %}">
                <button id="signup_button" type="submit" class="btn btn-secondary btn-lg">회원가입</button>
            </a>
        </div>
        {% endif %}

<!-- 게시판 버튼 -->
        {% if user.is_authenticated %}
        <div id="board_div" class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            메뉴
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'pybo:pybo' %}">게시판</a></li>
                <li><a class="dropdown-item" href="#">아무거나!</a></li>
                <li><a class="dropdown-item" href="#">넣자!</a></li>
            </ul>
        </div>
        {% endif %}

<!-- 푸터 -->
        <div id="footer_div">
        <hr>
        <div id="footer_font">
            <img src="/static/andlogo.jpg" alt="logoimage">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <B style = "font-size:16px">CONTACT US&nbsp;&nbsp;&nbsp;</B>
            <i class="bi bi-telephone-fill"></i> 전화번호: 02-599-8697 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="bi bi-house-door-fill"></i> 관리자 이메일: autoslider@site.com
        </div>
    <br>
    <p id="footer_Copyright">Copyright ⓒ2023 And.&nbsp;All Rights Reserved.</p>
        </div>

<!-- JavaScript 코드 -->
<!-- SweetAlert2 라이브러리를 불러옵니다. -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<!-- 회원가입 완료 후 실행할 코드입니다. -->
<script>
    Swal.fire(
      '축하합니다!',
      '회원가입이 되었습니다!',
      'success'
    );
</script>
        {% endblock %}
</body>
</html>