
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body class="p-3 m-0 border-0 bd-example">
    <form method="post" action="{% url 'common:signup' %}" class=" needs-validation was-validated" novalidate="">
        {% csrf_token %}

         <!-- Example Code -->
         <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh;">
         <div class="row d-flex justify-content-center align-items-center">
            <!-- 이미지에 대한 정보 -->
            <div class="col-md-4 text-center" >
                <a href="{% url 'common:main' %}">
                    <img src="../../static/logo2.png" >
                </a>
            </div>
            <!-- 필수 정보 입력 줄 -->
                <h4 class ="mb-3"></h4>
                <div class="col-md-12 text-center">
                </div>
            <!-- 아이디에 대한 정보 --><h4 class ="mb-3"></h4>
            <div class="col-md-4" >
                <label for="username" class="form-label">아이디</label>
                <input type="text" class="form-control is-valid" name="username" id="username" placeholder="아이디 입력"  required>
                <div class="valid-feedback"></div>
            </div >
            <!-- 비밀번호에 대한 정보 --><h4 class ="mb-3"></h4>
                <div class="col-md-4" >
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" class="form-control is-valid" name="password1" id="password1" placeholder="비밀번호 입력"  required>
                <div class="valid-feedback"></div>
            </div>
            <!-- 비밀번호 확인에 대한 정보 --><h4 class ="mb-3"></h4>
            <div class="col-md-4" >
            <label for="password2" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control is-valid" name="password2" id="password2" placeholder="비밀번호 확인"  required>
            <div class="valid-feedback"></div>
            </div>
            <!-- 이메일에 대한 정보 --><h4 class ="mb-3"></h4>
            <div class="col-md-4" >
            <label for="email">이메일</label>
            <div class="input-group mb-3">
            <input type="text" class="form-control is-valid" name="email" id="email" placeholder="이메일 입력" required>
            </div>
            </div>
            <!-- 닉네임(별명)에 대한 정보 --><h4 class ="mb-3"></h4>
            <div class="col-md-4" >
            <label for="nickname" class="form-label">닉네임(별명)</label>
            <input type="text" class="form-control is-valid" name="nickname" id="nickname" placeholder="닉네임(별명) 입력" required>
            <div class="valid-feedback"></div>
            </div>
            <!-- 전화번호에 대한 정보 --><h4 class ="mb-3"></h4>
            <div class="col-md-4" >
            <label for="phone" class="form-label">전화번호</label>
            <input type="text" class="form-control is-valid" name="phone" id="phone" placeholder="전화번호 입력" required>
            <div class="valid-feedback"></div>
            </div>
            <h4 class ="mb-3"></h4>
            <div class="col-md-12 text-center" >
                <script src="../../static/test.js"></script>
            <button type="submit" class="btn btn-primary btn-block" id="signup-button"> 확인</button>
            </div>
         </div>
         </div>
         <!-- End Example Code -->
    </form>
// 자바스크립트 코드
<script>
const password = document.getElementById('password1');
const confirm_password = document.getElementById('password2');
const signupButton = document.getElementById('signup-button');

signupButton.addEventListener('click', () => {
  if (password.value !== confirm_password.value) {
    alert("'비밀번호'와 '비밀번호 확인'이 다릅니다.");
    return false;
  }
});
</script>
</body>
</html>